* {
	overflow: hidden;
	font-family: 'Ubuntu', sans-serif;
}

body {
	background-color: #235;
}

p {
	position: absolute;
	color: white;
	font-size: 3vh;
	left: 40%;
	margin-top: 1%;
}

p:nth-of-type(3) {
	top: 92%;
	left: 4%;
}

p:nth-of-type(5) {
	top: 87%;
}

p:nth-of-type(6) {
	top: 92%;
}

#d {
	top: 87%;
	left: 4%;
}

#n {
	top: 82%;
	left: 4%;
}

#k {
	top: 82%;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 3px double #568;
	background-color: #013;
}

#wm {
	display: inline-block;
	color: white;
	margin-top: 1%;
	padding-left: 100%;
	animation: move 8s linear infinite;
}

@keyframes move {
	from {
		transform: translate(0, 0);
	}

	to {
		transform: translate(-100%, 0);
	}
}